nav {
  width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  background-color: #ecf0f4;
  box-shadow: 0px 3px 50px 3px rgb(216, 216, 216);
  top: 0%;
  z-index: 10;
  font-size: large;
}
/* main:hover {
    color: aliceblue;
    background-color: blue;
} */
.hv:hover {
    opacity: 0.7;
}
h1 {
  text-transform: uppercase;
}

main {
  width: 70%;
  /* font-size: medium; */
  display: flex;
  justify-content: flex-end;
}

a {
  color: #000000;
  /* font-size: bold; */
  margin: 1rem;
}

.signup {
    color: rgb(0, 0, 0);
    background-color: aqua;
    padding: 0.9rem;
    border-radius: 15px;
    border: 2px solid rgb(0, 0, 0);
}