.mainDashboard {
  width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  background-color: #ecf0f4;
  box-shadow: 0px 3px 50px 3px rgb(216, 216, 216);
  top: 0%;
  z-index: 10;
  font-size: large;
}

.userOptions {
  display: grid;
  row-gap: 40px;
  /* justify-content: center; */
  width: 100%;
  /* position: sticky; */
}

.hm,
.yp,
.pp,
.ya {
  display: flex;
  /* align-items: center; */
  justify-content: center;
  /* row-gap: 100px; */
  background-color: aquamarine;
  padding: 1rem;
  margin-left: 600px;
  margin-right: 600px;
  border: 1px solid black;
  border-radius: 1.2rem;
  min-width: 400px;
  font-weight: bold;
  font-size: large;
}

.userH2 {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
