.section {
    height: 670px;

    .item {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
        gap: 3rem;

        .adContent {
            display: grid;
            font-weight: 600;
            padding: 1rem;
            row-gap: 0.5rem;
        }
    }
}