
.mainSection{

    height: 700px;

    .profile {
        display: flex;
        justify-content: center;
        gap: 6rem;
        margin-top: 100px;
        // height: 700px;
    
        .showData {
            display: grid;
            justify-content: center;
            padding: 2rem;

            p {
                display: block;
                font-size: 1.6rem;
                font-weight: 300;
                padding: 1rem;
                margin: 1rem auto;
                width: 100%;
                border: 1px solid #777;
                border-radius: 3px;
                outline: none;
            }
        }
    
        .updateData {
            display: grid;
            justify-content: center;
            row-gap: 1rem;
            padding: 2rem;

            input {
                display: block;
                font-size: 1.6rem;
                font-weight: 300;
                padding: 1rem;
                margin: 1rem auto;
                width: 100%;
                border: 1px solid #777;
                border-radius: 3px;
                outline: none;
            }
        }
    }
}
